# additional
data/
!data/.keep
log.json
examples/
*.swp
!*/*.py
*.pyc
**/__pycache__/
.vscode
tb_logs/
*.zip
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

**/*.pyc
